body {
  font-family: 'Lato', sans-serif;
  color: white;
  cursor: default !important;
}

img {
  margin: 5px;
  height: 210px;
}

h1 {
  text-transform: uppercase;
  font-size: 10rem;
  letter-spacing: 0.1rem;
  font-weight: 900;
}

h2 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0px;
  color: black;
}

h6 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 350 !important;
}

footer {
  background-color: yellow;
}

.taxi-color {
  color: #ffd405;
}

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 1.70rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: white !important;
}

.text-lighter {
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 0px;
  /* font-weight: 10 !important; */
}

.masthead {
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: url('../img/background-taxi.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.fanpage-section {
  padding-top: calc(2rem + 12px);
  padding-bottom: 2rem;
  background: url('../img/background-taxi-2.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.mobile-phone {
  height: 40px;
}

.row {
  width: 100%;
}

.yellow-container {
  background-color: #ffd405;
}

.promo-section {
  padding-top: calc(7rem);
  padding-bottom: 7rem;
  background-color: black;
}

.vertical-align {
  display: flex;
  align-items: center;
}
